@charset "UTF-8";

@media only screen and (min-width: 768px){
    
    body{
        height: 100vh;
        background-image: linear-gradient(#5d80da, #8e05c0);
        /* background-color: brown; */
    }
    #caixa{
        width: 75vw;
    }
    #caixa > header > img {
        float: right;
        width: 30vw;
        object-fit: cover;
        height: 52.3vh;
        border-top-left-radius: 0px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
           
    }
    main{
        width: 45vw;   
    }
    main > div > form > .dados, .clique{
        margin: 5px;
    }
}